[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "xmonad/.config/xmonad/xmonad"]
	path = xmonad/.config/xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/.config/xmonad/xmonad-contrib"]
	path = xmonad/.config/xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
